<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head.ejs%>

</head>
<!-- page-content -->

<body>
    <div id="divDisplay" class="centered">
        <!--.page-content-header-->
        <%- body %>
    </div>
</body>

</html>