<% layout('layout2') %>
    <link rel="stylesheet" href="css/separate/pages/error.min.css">
    <link rel="stylesheet" href="css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <form class="page-error-box" method="post">
        <div class="error-title">Thanks for signing up!</div>
        <div class="sign-note">Your account is now pending approval. Someone from our sales team will be in touch with you shortly regarding your account.</div>
        <br>
        <button type="submit" class="btn btn-rounded ">Go Back</button>
    </form>