<% layout('layout2') %>
    <link rel="stylesheet" href="/css/separate/pages/login.min.css">
    <form class="sign-box" method="post">
        <!--<div class="sign-avatar">
            <img src="img/avatar-sign.png" alt="">
        </div>-->
        <header class="sign-title">Reset Password</header>
        <div class="form-group">
            <input name="email" type="text" class="form-control" placeholder="E-Mail" />
        </div>
        <button type="submit" class="btn btn-rounded ">Reset</button>
        <p class="sign-note">Or want to go back to <a href="/signin">Sign in</a>? </p>
    </form>