<% layout('layout') %>
    <!--Users Page Content-->
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h4>
                            <%= heading %>
                        </h4>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><small><a href="#">Home</a></small></li>
                            <li class="active">
                                <small><%= heading %></small>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <iframe src="/appdash" style="display: block;    border: 0; position:fixed; top:0; left:0; right:0; bottom:0; width:150vw; height:100vh" ></iframe>