<!DOCTYPE html>
<article class="statistic-box yellow">
    <div>
        <div class="number">104</div>
        <div class="caption">
            <div>Visitors</div>
        </div>
        <div class="percent">
            <div class="arrow down"></div>
            <p>5%</p>
        </div>
    </div>
</article>